openflow/Openflow-X12-Flow.json
{"flowContents":{"identifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8","instanceIdentifier":"506e72ca-019e-1000-ffff-ffffc8ff7c0e","name":"Openflow-X12-Flow","comments":"Ingests raw X12 EDI files and loads them into Snowflake. Standard processors only.","position":{"x":-544.0,"y":-424.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c03534f4-7703-3ba8-95de-9928612da5b7","instanceIdentifier":"50a0e2da-019e-1000-0000-000023711539","name":"FetchS3Object","comments":"","position":{"x":-648.0,"y":-224.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2026.5.21.16"},"properties":{"Endpoint Override URL":null,"Object Key":"${filename}","Proxy Configuration Service":null,"Range Start":null,"SSL Context Service":null,"Bucket":"addy-s3-bucket","Version":null,"AWS Credentials Provider Service":"de00d862-38fb-3d90-a164-e9a91641d9fe","Communications Timeout":"30 secs","Region":"us-west-2","Encryption Service":null,"Custom Region":null,"Requester Pays":"false","Range Length":null},"propertyDescriptors":{"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Range Start":{"name":"Range Start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Requester Pays":{"name":"Requester Pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Range Length":{"name":"Range Length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"77777777-7777-7777-7777-777777777777","instanceIdentifier":"37b10a0b-be7f-3551-bee7-6caa426c91b1","name":"LogAttribute - Error Sink","comments":"Logs failed FlowFiles for debugging","position":{"x":288.0,"y":56.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2026.5.21.16"},"properties":{"Log FlowFile Properties":"true","Log Level":"warn","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"true","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"5bd314a7-b745-34d9-a741-341ad54ffc6d","instanceIdentifier":"601ac8d7-019e-1000-0000-00006e4c3c8b","name":"PutSnowpipeStreaming","comments":"","position":{"x":-763.0,"y":856.0},"type":"com.snowflake.openflow.runtime.processors.snowpipe.PutSnowpipeStreaming","bundle":{"group":"com.snowflake.openflow.runtime","artifact":"runtime-snowpipe-processors-nar","version":"2026.5.21.16"},"properties":{"Account":"RRB23678","User":"akelkar","Table":"LANDING_837_CLAIMS","Concurrency Group":null,"Max Batch Size":"10000","Schema":"CLAIMS","Max Tasks Per Group":"1","Record Offset":null,"Record Reader":"5b8c50e7-ebeb-3830-a3cd-f10557695b80","Iceberg Enabled":"false","Snowpipe Channel Index":null,"Private Key Service":"fa68a770-bfc1-3f8f-880a-d230d6d9d190","Connection Strategy":"STANDARD","Role":"ACCOUNTADMIN","Record Offset Strategy":null,"Snowpipe Channel Prefix":"${hostname(false)}","Client Lag":"1 sec","Authentication Strategy":"KEY_PAIR","Delivery Guarantee":"At least once","Binary Encoding Format":"BASE64","Record Offset Record Path":null,"Database":"X12_EDI_AI"},"propertyDescriptors":{"Account":{"name":"Account","displayName":"Account","identifiesControllerService":false,"sensitive":false,"dynamic":false},"User":{"name":"User","displayName":"User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table":{"name":"Table","displayName":"Table","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Concurrency Group":{"name":"Concurrency Group","displayName":"Concurrency Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema":{"name":"Schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Tasks Per Group":{"name":"Max Tasks Per Group","displayName":"Max Tasks Per Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset":{"name":"Record Offset","displayName":"Record Offset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Iceberg Enabled":{"name":"Iceberg Enabled","displayName":"Iceberg Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Snowpipe Channel Index":{"name":"Snowpipe Channel Index","displayName":"Snowpipe Channel Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Service":{"name":"Private Key Service","displayName":"Private Key Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Connection Strategy":{"name":"Connection Strategy","displayName":"Connection Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Role":{"name":"Role","displayName":"Role","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset Strategy":{"name":"Record Offset Strategy","displayName":"Record Offset Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Snowpipe Channel Prefix":{"name":"Snowpipe Channel Prefix","displayName":"Snowpipe Channel Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Lag":{"name":"Client Lag","displayName":"Client Lag","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authentication Strategy":{"name":"Authentication Strategy","displayName":"Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delivery Guarantee":{"name":"Delivery Guarantee","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Binary Encoding Format":{"name":"Binary Encoding Format","displayName":"Binary Encoding Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset Record Path":{"name":"Record Offset Record Path","displayName":"Record Offset Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database":{"name":"Database","displayName":"Database","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"aaaac43b-baf9-3d3a-b656-000da740d33a","instanceIdentifier":"60115ba8-019e-1000-ffff-ffffb82ff799","name":"SplitRecord","comments":"","position":{"x":-544.0,"y":424.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2026.5.21.16"},"properties":{"Record Writer":"232645c4-9670-31b7-af4c-54a069336b35","Record Reader":"5b8c50e7-ebeb-3830-a3cd-f10557695b80","Records Per Split":"1000"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"65115d75-8c15-3a8a-9a0f-01c845b8714c","instanceIdentifier":"61bba57c-019e-1000-0000-000001de32f5","name":"ParseX12ToJSON","comments":"","position":{"x":-640.0,"y":200.0},"type":"ParseX12ToJSON","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.6.0"},"properties":{"Transaction Type Filter":null,"Include Raw Segments":"false","Output Mode":"ndjson","Include Envelope":"true"},"propertyDescriptors":{"Transaction Type Filter":{"name":"Transaction Type Filter","displayName":"Transaction Type Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Raw Segments":{"name":"Include Raw Segments","displayName":"Include Raw Segments","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Mode":{"name":"Output Mode","displayName":"Output Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Envelope":{"name":"Include Envelope","displayName":"Include Envelope","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"060c6437-9078-3710-ab08-a236c07945d9","instanceIdentifier":"509a17a2-019e-1000-0000-000002c8265b","name":"ListS3","comments":"","position":{"x":-672.0,"y":-568.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2026.5.21.16"},"properties":{"Entity Tracking Initial Listing Target":"all","Minimum Object Age":"0 sec","Delimiter":null,"Entity Tracking State Cache":null,"Maximum Object Age":null,"Endpoint Override URL":null,"List Type":"1","Prefix":"x12/","Write Object Tags":"false","Proxy Configuration Service":null,"Listing Batch Size":"100","SSL Context Service":null,"Bucket":"addy-s3-bucket","AWS Credentials Provider Service":"de00d862-38fb-3d90-a164-e9a91641d9fe","Communications Timeout":"30 secs","Region":"us-west-2","Record Writer":null,"Custom Region":null,"Listing Strategy":"timestamps","Entity Tracking Time Window":"3 hours","Write User Metadata":"false","Use Versions":"false","Requester Pays":"false"},"propertyDescriptors":{"Entity Tracking Initial Listing Target":{"name":"Entity Tracking Initial Listing Target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Object Age":{"name":"Minimum Object Age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter":{"name":"Delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking State Cache":{"name":"Entity Tracking State Cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum Object Age":{"name":"Maximum Object Age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"List Type":{"name":"List Type","displayName":"List Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Prefix":{"name":"Prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Object Tags":{"name":"Write Object Tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Time Window":{"name":"Entity Tracking Time Window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write User Metadata":{"name":"Write User Metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Versions":{"name":"Use Versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Requester Pays":{"name":"Requester Pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"ce566f50-cf91-31b7-0000-0000150e033b","instanceIdentifier":"df0cc177-1049-3829-9ab1-012bded154f2","name":"PutSnowpipeStreaming","comments":"","position":{"x":-392.0,"y":1056.0},"type":"com.snowflake.openflow.runtime.processors.snowpipe.PutSnowpipeStreaming","bundle":{"group":"com.snowflake.openflow.runtime","artifact":"runtime-snowpipe-processors-nar","version":"2026.5.21.16"},"properties":{"Account":"RRB23678","User":"akelkar","Table":"LANDING_835_REMITTANCES","Concurrency Group":null,"Max Batch Size":"10000","Schema":"REMITTANCES","Max Tasks Per Group":"1","Record Offset":null,"Record Reader":"5b8c50e7-ebeb-3830-a3cd-f10557695b80","Iceberg Enabled":"false","Snowpipe Channel Index":null,"Private Key Service":"fa68a770-bfc1-3f8f-880a-d230d6d9d190","Connection Strategy":"STANDARD","Role":"ACCOUNTADMIN","Record Offset Strategy":null,"Snowpipe Channel Prefix":"${hostname(false)}","Client Lag":"1 sec","Authentication Strategy":"KEY_PAIR","Delivery Guarantee":"At least once","Binary Encoding Format":"BASE64","Record Offset Record Path":null,"Database":"X12_EDI_AI"},"propertyDescriptors":{"Account":{"name":"Account","displayName":"Account","identifiesControllerService":false,"sensitive":false,"dynamic":false},"User":{"name":"User","displayName":"User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table":{"name":"Table","displayName":"Table","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Concurrency Group":{"name":"Concurrency Group","displayName":"Concurrency Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema":{"name":"Schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Tasks Per Group":{"name":"Max Tasks Per Group","displayName":"Max Tasks Per Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset":{"name":"Record Offset","displayName":"Record Offset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Iceberg Enabled":{"name":"Iceberg Enabled","displayName":"Iceberg Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Snowpipe Channel Index":{"name":"Snowpipe Channel Index","displayName":"Snowpipe Channel Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Service":{"name":"Private Key Service","displayName":"Private Key Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Connection Strategy":{"name":"Connection Strategy","displayName":"Connection Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Role":{"name":"Role","displayName":"Role","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset Strategy":{"name":"Record Offset Strategy","displayName":"Record Offset Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Snowpipe Channel Prefix":{"name":"Snowpipe Channel Prefix","displayName":"Snowpipe Channel Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Lag":{"name":"Client Lag","displayName":"Client Lag","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authentication Strategy":{"name":"Authentication Strategy","displayName":"Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delivery Guarantee":{"name":"Delivery Guarantee","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Binary Encoding Format":{"name":"Binary Encoding Format","displayName":"Binary Encoding Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset Record Path":{"name":"Record Offset Record Path","displayName":"Record Offset Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database":{"name":"Database","displayName":"Database","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"3574d86b-e9bd-38b9-ffff-ffff8e0c0c41","instanceIdentifier":"b9339fab-8d03-33a0-96f0-8916d3b1e3ee","name":"PutSnowpipeStreaming","comments":"","position":{"x":0.0,"y":896.0},"type":"com.snowflake.openflow.runtime.processors.snowpipe.PutSnowpipeStreaming","bundle":{"group":"com.snowflake.openflow.runtime","artifact":"runtime-snowpipe-processors-nar","version":"2026.5.21.16"},"properties":{"Account":"RRB23678","User":"akelkar","Table":"LANDING_834_ENROLLMENTS","Concurrency Group":null,"Max Batch Size":"10000","Schema":"ENROLLMENTS","Max Tasks Per Group":"1","Record Offset":null,"Record Reader":"5b8c50e7-ebeb-3830-a3cd-f10557695b80","Iceberg Enabled":"false","Snowpipe Channel Index":null,"Private Key Service":"fa68a770-bfc1-3f8f-880a-d230d6d9d190","Connection Strategy":"STANDARD","Role":"ACCOUNTADMIN","Record Offset Strategy":null,"Snowpipe Channel Prefix":"${hostname(false)}","Client Lag":"1 sec","Authentication Strategy":"KEY_PAIR","Delivery Guarantee":"At least once","Binary Encoding Format":"BASE64","Record Offset Record Path":null,"Database":"X12_EDI_AI"},"propertyDescriptors":{"Account":{"name":"Account","displayName":"Account","identifiesControllerService":false,"sensitive":false,"dynamic":false},"User":{"name":"User","displayName":"User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table":{"name":"Table","displayName":"Table","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Concurrency Group":{"name":"Concurrency Group","displayName":"Concurrency Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema":{"name":"Schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Tasks Per Group":{"name":"Max Tasks Per Group","displayName":"Max Tasks Per Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset":{"name":"Record Offset","displayName":"Record Offset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Iceberg Enabled":{"name":"Iceberg Enabled","displayName":"Iceberg Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Snowpipe Channel Index":{"name":"Snowpipe Channel Index","displayName":"Snowpipe Channel Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Service":{"name":"Private Key Service","displayName":"Private Key Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Connection Strategy":{"name":"Connection Strategy","displayName":"Connection Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Role":{"name":"Role","displayName":"Role","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset Strategy":{"name":"Record Offset Strategy","displayName":"Record Offset Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Snowpipe Channel Prefix":{"name":"Snowpipe Channel Prefix","displayName":"Snowpipe Channel Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Lag":{"name":"Client Lag","displayName":"Client Lag","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authentication Strategy":{"name":"Authentication Strategy","displayName":"Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delivery Guarantee":{"name":"Delivery Guarantee","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Binary Encoding Format":{"name":"Binary Encoding Format","displayName":"Binary Encoding Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset Record Path":{"name":"Record Offset Record Path","displayName":"Record Offset Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database":{"name":"Database","displayName":"Database","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"aafb146f-1573-3ab8-b5ba-2efba4cc7b80","instanceIdentifier":"61ba979d-019e-1000-0000-00004201450b","name":"SplitContent","comments":"","position":{"x":-672.0,"y":-16.0},"type":"org.apache.nifi.processors.standard.SplitContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2026.5.21.16"},"properties":{"Byte Sequence Location":"Leading","Keep Byte Sequence":"true","Byte Sequence Format":"Text","Byte Sequence":"ST*"},"propertyDescriptors":{"Byte Sequence Location":{"name":"Byte Sequence Location","displayName":"Byte Sequence Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keep Byte Sequence":{"name":"Keep Byte Sequence","displayName":"Keep Byte Sequence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Byte Sequence Format":{"name":"Byte Sequence Format","displayName":"Byte Sequence Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Byte Sequence":{"name":"Byte Sequence","displayName":"Byte Sequence","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"a527a266-8c1d-39b8-a909-e1091c5d56b1","instanceIdentifier":"6012fd9c-019e-1000-ffff-ffffc3b1c41e","name":"RouteOnAttribute","comments":"","position":{"x":-608.0,"y":640.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2026.5.21.16"},"properties":{"Routing Strategy":"Route to Property name","claims":"${x12.transaction.types:contains('837')}","remittances":"${x12.transaction.types:contains('835')}","enrollments":"${x12.transaction.types:contains('834')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"claims":{"name":"claims","displayName":"claims","identifiesControllerService":false,"sensitive":false,"dynamic":true},"remittances":{"name":"remittances","displayName":"remittances","identifiesControllerService":false,"sensitive":false,"dynamic":true},"enrollments":{"name":"enrollments","displayName":"enrollments","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"91f6620c-0fad-3120-b6f4-dc16496e97ab","instanceIdentifier":"5fd83135-019e-1000-ffff-ffffc239488c","name":"","source":{"id":"c03534f4-7703-3ba8-95de-9928612da5b7","type":"PROCESSOR","groupId":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8","name":"FetchS3Object","comments":"","instanceIdentifier":"50a0e2da-019e-1000-0000-000023711539"},"destination":{"id":"77777777-7777-7777-7777-777777777777","type":"PROCESSOR","groupId":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8","name":"LogAttribute - Error Sink","comments":"Logs failed FlowFiles for debugging","instanceIdentifier":"37b10a0b-be7f-3551-bee7-6caa426c91b1"},"labelIndex":0,"zIndex":7,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"22fffd53-91a0-32d1-b629-b15205ab3a69","instanceIdentifier":"61bc0c06-019e-1000-0000-000051976897","name":"","source":{"id":"65115d75-8c15-3a8a-9a0f-01c845b8714c","type":"PROCESSOR","groupId":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8","name":"ParseX12ToJSON","comments":"","instanceIdentifier":"61bba57c-019e-1000-0000-000001de32f5"},"destination":{"id":"77777777-7777-7777-7777-777777777777","type":"PROCESSOR","groupId":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8","name":"LogAttribute - Error Sink","comments":"Logs failed FlowFiles for debugging","instanceIdentifier":"37b10a0b-be7f-3551-bee7-6caa426c91b1"},"labelIndex":0,"zIndex":24,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"503feca0-e049-3cba-986a-8c6503625491","instanceIdentifier":"601decef-019e-1000-ffff-ffffa9532afe","name":"","source":{"id":"a527a266-8c1d-39b8-a909-e1091c5d56b1","type":"PROCESSOR","groupId":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8","name":"RouteOnAttribute","comments":"","instanceIdentifier":"6012fd9c-019e-1000-ffff-ffffc3b1c41e"},"destination":{"id":"3574d86b-e9bd-38b9-ffff-ffff8e0c0c41","type":"PROCESSOR","groupId":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8","name":"PutSnowpipeStreaming","comments":"","instanceIdentifier":"b9339fab-8d03-33a0-96f0-8916d3b1e3ee"},"labelIndex":0,"zIndex":13,"selectedRelationships":["enrollments"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"3bf611be-e2ae-3041-9e4c-54a8d38ab066","instanceIdentifier":"601e26da-019e-1000-ffff-ffffa955ad61","name":"","source":{"id":"a527a266-8c1d-39b8-a909-e1091c5d56b1","type":"PROCESSOR","groupId":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8","name":"RouteOnAttribute","comments":"","instanceIdentifier":"6012fd9c-019e-1000-ffff-ffffc3b1c41e"},"destination":{"id":"ce566f50-cf91-31b7-0000-0000150e033b","type":"PROCESSOR","groupId":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8","name":"PutSnowpipeStreaming","comments":"","instanceIdentifier":"df0cc177-1049-3829-9ab1-012bded154f2"},"labelIndex":0,"zIndex":14,"selectedRelationships":["remittances"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"5c4146cb-b04c-3000-8dcd-59e271f11fba","instanceIdentifier":"50a11f4d-019e-1000-0000-00000e110517","name":"","source":{"id":"060c6437-9078-3710-ab08-a236c07945d9","type":"PROCESSOR","groupId":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8","name":"ListS3","comments":"","instanceIdentifier":"509a17a2-019e-1000-0000-000002c8265b"},"destination":{"id":"c03534f4-7703-3ba8-95de-9928612da5b7","type":"PROCESSOR","groupId":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8","name":"FetchS3Object","comments":"","instanceIdentifier":"50a0e2da-019e-1000-0000-000023711539"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"ab942345-86f3-398c-be2e-bc5517d2c408","instanceIdentifier":"61bab74a-019e-1000-ffff-ffffae484cc2","name":"","source":{"id":"c03534f4-7703-3ba8-95de-9928612da5b7","type":"PROCESSOR","groupId":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8","name":"FetchS3Object","comments":"","instanceIdentifier":"50a0e2da-019e-1000-0000-000023711539"},"destination":{"id":"aafb146f-1573-3ab8-b5ba-2efba4cc7b80","type":"PROCESSOR","groupId":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8","name":"SplitContent","comments":"","instanceIdentifier":"61ba979d-019e-1000-0000-00004201450b"},"labelIndex":0,"zIndex":21,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"fd5b234d-a384-37ad-970d-54e1556e1fdb","instanceIdentifier":"61bbf4f6-019e-1000-ffff-ffffb38911d9","name":"","source":{"id":"65115d75-8c15-3a8a-9a0f-01c845b8714c","type":"PROCESSOR","groupId":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8","name":"ParseX12ToJSON","comments":"","instanceIdentifier":"61bba57c-019e-1000-0000-000001de32f5"},"destination":{"id":"aaaac43b-baf9-3d3a-b656-000da740d33a","type":"PROCESSOR","groupId":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8","name":"SplitRecord","comments":"","instanceIdentifier":"60115ba8-019e-1000-ffff-ffffb82ff799"},"labelIndex":0,"zIndex":23,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"12867aa3-6e97-3ba4-88c6-02007d663a61","instanceIdentifier":"601d52fe-019e-1000-0000-00006d5ecea3","name":"","source":{"id":"a527a266-8c1d-39b8-a909-e1091c5d56b1","type":"PROCESSOR","groupId":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8","name":"RouteOnAttribute","comments":"","instanceIdentifier":"6012fd9c-019e-1000-ffff-ffffc3b1c41e"},"destination":{"id":"5bd314a7-b745-34d9-a741-341ad54ffc6d","type":"PROCESSOR","groupId":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8","name":"PutSnowpipeStreaming","comments":"","instanceIdentifier":"601ac8d7-019e-1000-0000-00006e4c3c8b"},"labelIndex":0,"zIndex":12,"selectedRelationships":["claims"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"79616d5b-fe3d-395e-abdd-fde7412f738d","instanceIdentifier":"61bbe4b3-019e-1000-ffff-ffffdf9bac20","name":"","source":{"id":"aafb146f-1573-3ab8-b5ba-2efba4cc7b80","type":"PROCESSOR","groupId":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8","name":"SplitContent","comments":"","instanceIdentifier":"61ba979d-019e-1000-0000-00004201450b"},"destination":{"id":"65115d75-8c15-3a8a-9a0f-01c845b8714c","type":"PROCESSOR","groupId":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8","name":"ParseX12ToJSON","comments":"","instanceIdentifier":"61bba57c-019e-1000-0000-000001de32f5"},"labelIndex":0,"zIndex":22,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"90f9ce29-8f94-329a-bf8d-747e6fcf7eae","instanceIdentifier":"60154f4f-019e-1000-0000-0000135a41b4","name":"","source":{"id":"aaaac43b-baf9-3d3a-b656-000da740d33a","type":"PROCESSOR","groupId":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8","name":"SplitRecord","comments":"","instanceIdentifier":"60115ba8-019e-1000-ffff-ffffb82ff799"},"destination":{"id":"a527a266-8c1d-39b8-a909-e1091c5d56b1","type":"PROCESSOR","groupId":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8","name":"RouteOnAttribute","comments":"","instanceIdentifier":"6012fd9c-019e-1000-ffff-ffffc3b1c41e"},"labelIndex":0,"zIndex":11,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"99999999-9999-9999-9999-999999999999","instanceIdentifier":"45c5a73d-8a82-3712-86d4-982bf2943efd","name":"SnowflakeConnectionService","comments":"Connection to X12 EDI AI database","type":"com.snowflake.openflow.runtime.services.snowflake.SnowflakeConnectionService","bundle":{"group":"com.snowflake.openflow.runtime","artifact":"runtime-snowflake-connection-service-nar","version":"2026.5.21.16"},"properties":{"Account":null,"Warehouse":"APP_WH","User":null,"Maximum Connections":"10","Maximum Lifetime":"30 minutes","Schema":"STAGING","Private Key Service":null,"Connection Strategy":"STANDARD","Connection Timeout":"30 seconds","Role":"ACCOUNTADMIN","Idle Timeout":"10 minutes","Authentication Strategy":"SNOWFLAKE_MANAGED","Database Name":"X12_EDI_AI","Network Timeout":"5 minutes"},"propertyDescriptors":{"Account":{"name":"Account","displayName":"Account","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Warehouse":{"name":"Warehouse","displayName":"Warehouse","identifiesControllerService":false,"sensitive":false,"dynamic":false},"User":{"name":"User","displayName":"User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connections":{"name":"Maximum Connections","displayName":"Maximum Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Lifetime":{"name":"Maximum Lifetime","displayName":"Maximum Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema":{"name":"Schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Service":{"name":"Private Key Service","displayName":"Private Key Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Connection Strategy":{"name":"Connection Strategy","displayName":"Connection Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Role":{"name":"Role","displayName":"Role","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Idle Timeout":{"name":"Idle Timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authentication Strategy":{"name":"Authentication Strategy","displayName":"Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Name":{"name":"Database Name","displayName":"Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Network Timeout":{"name":"Network Timeout","displayName":"Network Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2026.5.21.15"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"de00d862-38fb-3d90-a164-e9a91641d9fe","instanceIdentifier":"5097277e-019e-1000-ffff-ffffca49de41","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2026.5.21.16"},"properties":{"Assume Role STS Region":"us-west-2","Assume Role Proxy Configuration Service":null,"OAuth2 Access Token Provider":null,"Assume Role ARN":null,"Assume Role Session Time":"3600","Assume Role Session Name":"openflow-x12-session","Use Default Credentials":"false","Assume Role External ID":"RRB23678_SFCRole=2_dG+3SypipI7V0k2fF9cmwrIojic=","Assume Role STS Endpoint Override":null,"Profile Name":null,"Credentials File":null,"Use Anonymous Credentials":"false","Assume Role SSL Context Service":null},"propertyDescriptors":{"Assume Role STS Region":{"name":"Assume Role STS Region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Proxy Configuration Service":{"name":"Assume Role Proxy Configuration Service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Access Key ID":{"name":"Access Key ID","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"OAuth2 Access Token Provider":{"name":"OAuth2 Access Token Provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Session Time":{"name":"Assume Role Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Default Credentials":{"name":"Use Default Credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role External ID":{"name":"Assume Role External ID","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role STS Endpoint Override":{"name":"Assume Role STS Endpoint Override","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Profile Name":{"name":"Profile Name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Anonymous Credentials":{"name":"Use Anonymous Credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Access Key":{"name":"Secret Access Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Assume Role SSL Context Service":{"name":"Assume Role SSL Context Service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2026.5.21.16"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"a69105d3-d3d0-3f77-9485-178b05acacb7","instanceIdentifier":"51088551-019e-1000-ffff-ffffce348fe0","name":"StandardWebClientServiceProvider","comments":"","type":"org.apache.nifi.web.client.provider.service.StandardWebClientServiceProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-web-client-provider-service-nar","version":"2026.5.21.16"},"properties":{"Connect Timeout":"10 secs","SSL Context Service":null,"Write Timeout":"10 secs","Redirect Handling Strategy":"FOLLOWED","HTTP Protocol Version":"HTTP_2","Read Timeout":"10 secs","Proxy Configuration Service":null},"propertyDescriptors":{"Connect Timeout":{"name":"Connect Timeout","displayName":"Connect Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write Timeout":{"name":"Write Timeout","displayName":"Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Redirect Handling Strategy":{"name":"Redirect Handling Strategy","displayName":"Redirect Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Protocol Version":{"name":"HTTP Protocol Version","displayName":"HTTP Protocol Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.web.client.provider.api.WebClientServiceProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2026.5.21.15"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"232645c4-9670-31b7-af4c-54a069336b35","instanceIdentifier":"6011dfaf-019e-1000-ffff-ffffbeff7965","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2026.5.21.16"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-array","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Serialized JSON Input Handling":"ENABLED","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Serialized JSON Input Handling":{"name":"Serialized JSON Input Handling","displayName":"Serialized JSON Input Handling","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2026.5.21.15"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"fa68a770-bfc1-3f8f-880a-d230d6d9d190","instanceIdentifier":"5110984e-019e-1000-0000-0000723cca52","name":"StandardPrivateKeyService","comments":"","type":"org.apache.nifi.key.service.StandardPrivateKeyService","bundle":{"group":"org.apache.nifi","artifact":"nifi-key-service-nar","version":"2026.5.21.16"},"properties":{"Key File":null},"propertyDescriptors":{"Key File":{"name":"Key File","displayName":"Key File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Key Password":{"name":"Key Password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Key":{"name":"Key","displayName":"Key","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.key.service.api.PrivateKeyService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2026.5.21.15"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"},{"identifier":"5b8c50e7-ebeb-3830-a3cd-f10557695b80","instanceIdentifier":"51ea0e1e-019e-1000-ffff-ffffe5040f94","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2026.5.21.16"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Allow Comments":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2026.5.21.15"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"86f3bf35-390f-3fd6-b3c7-993b2fe64ae8"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}